In [1]:
import numpy as np
import pandas as pd

ubicacion = 'datasets/antropometria-dataset.csv'
df = pd.read_csv(ubicacion)

In [2]:
df.head()

,folio,intp,entidad,desc_ent,sexo,edad,meses,peso,ropa,talla,...,hpresion,tbrazo,htension,PrimaryLast,code_upm,est_dis,est_urb,est_marg,pondef,est_var
0,210295,2,21,PUEBLA,2,38,8,73.70,2,146.4,...,16:30,2,16:35,1,R2101,5,3,1,3470.002176,215
1,101655,3,10,DURANGO,2,11,11,35.65,2,145.1,...,15:25,3,15:25,1,M1041,1,1,1,417.946672,101
2,10287,6,1,AGUASCALIENTES,2,18,8,54.80,1,162.0,...,9:40,1,9:40,1,M0108,5,3,1,472.980811,15
3,91526,4,9,DISTRITO FEDERAL,1,10,8,33.40,2,146.5,...,7:40,3,7:45,1,M0931,4,3,2,1832.581391,94
4,210939,3,21,PUEBLA,2,19,3,97.95,2,161.0,...,6:00,2,6:00,1,M2123,5,3,1,7622.066564,215

In [3]:
df.head(3)

,folio,intp,entidad,desc_ent,sexo,edad,meses,peso,ropa,talla,...,hpresion,tbrazo,htension,PrimaryLast,code_upm,est_dis,est_urb,est_marg,pondef,est_var
0,210295,2,21,PUEBLA,2,38,8,73.70,2,146.4,...,16:30,2,16:35,1,R2101,5,3,1,3470.002176,215
1,101655,3,10,DURANGO,2,11,11,35.65,2,145.1,...,15:25,3,15:25,1,M1041,1,1,1,417.946672,101
2,10287,6,1,AGUASCALIENTES,2,18,8,54.80,1,162.0,...,9:40,1,9:40,1,M0108,5,3,1,472.980811,15

In [4]:
df.dtypes

folio            int64
intp             int64
entidad          int64
desc_ent        object
sexo             int64
edad             int64
meses            int64
peso           float64
ropa             int64
talla          float64
emb             object
temb            object
cintura        float64
cadera         float64
sistol         float64
diastol        float64
hpresion        object
tbrazo          object
htension        object
PrimaryLast      int64
code_upm        object
est_dis          int64
est_urb          int64
est_marg         int64
pondef         float64
est_var          int64
dtype: object

In [5]:
df.groupby(['entidad','desc_ent']).size()

entidad  desc_ent
1        AGUASCALIENTES                     655
2        BAJA CALIFORNIA                    564
3        BAJA CALIFORNIA SUR                530
4        CAMPECHE                           541
5        COAHUILA DE ZARAGOZA               612
6        COLIMA                             599
7        CHIAPAS                            608
8        CHIHUAHUA                          587
9        DISTRITO FEDERAL                   392
10       DURANGO                            580
11       GUANAJUATO                         662
12       GUERRERO                           635
13       HIDALGO                            518
14       JALISCO                            533
15       MEXICO                             453
16       MICHOACAN DE OCAMPO                599
17       MORELOS                            556
18       NAYARIT                            550
19       NUEVO LEON                         648
20       OAXACA                             600
21       PUEBLA                             494
22       QUERETARO                          649
23       QUINTANA ROO                       584
24       SAN LUIS POTOSI                    735
25       SINALOA                            503
26       SONORA                             598
27       TABASCO                            602
28       TAMAULIPAS                         626
29       TLAXCALA                           540
30       VERACRUZ DE IGNACIO DE LA LLAVE    716
31       YUCATAN                            578
32       ZACATECAS                          593
dtype: int64